.f_nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 2rem;
  justify-content: center;
  margin: 4rem 0;
}
.f_nav ul li {
  white-space: nowrap;
}
.f_nav ul li a:hover {
  text-decoration: 3px var(--main-color) solid underline;
}
.f_brand {
  text-align: center;
  margin-top: 5rem;
  font-weight: 700;
  font-size: 2rem;
}
.copyright {
  text-align: center;
  margin-bottom: 2rem;
}
